@import "../../../assets/css/variables.scss";

.ProfilePhoto {
  width: 3rem;
  height: 3rem;
  margin-right: 0.5rem;
  border-radius: 5px;
  overflow: hidden;
  display: none;

  img {
    object-fit: cover;
    width: 52px;
    height: 52px;
    border-radius: 0.5rem;
  }

  @media #{$min-desktop} {
    display: inline-block;
  }
}
