@import "../../assets/css/variables.scss";

.Accounts {
  padding: 15px;
  padding-bottom: 100px !important;

  @media #{$min-desktop} {
    padding: 0 3rem 0 1.5rem !important;
    margin-bottom: 0;
  }
}

.AccountForm {
  margin-top: 3rem;
}

.AddButton {
  padding: 0.5rem 1rem !important;
  border: 1px solid rgba(29, 34, 33, 0.7);
  font-weight: bold;

  svg {
    color: $button-green;
    transition: 250ms ease-out;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: $base-green;
    border-color: $base-green;
    color: #fff;

    svg {
      color: #fff;
    }
  }
}
