$base-yellow: #ffe200;
$light-gray: #f0f5f4;
$base-padding: 1rem;
$dark-green: #028090;
$text-green: #00ad97;
$base-green: #02c39a;
$dark-blue: #059fbc;
$base-blue: #00aac9;
$light-green: #d7f9f1;
$button-green: #78dcc6;
$base-error: #f56565;

$min-desktop: "only screen and (min-width : 767px)";
