@import "../../../assets/css/variables.scss";

.FooterNav {
  position: sticky;
  width: 100%;
  z-index: 99;
  bottom: 0;
  left: 0;
  background-color: $light-gray;

  ul {
    display: flex;
    align-items: center;
    justify-content: center;

    li {
      margin: 0 0.25rem;

      a {
        flex-flow: column;
        justify-content: center;
        align-items: center;
        padding: 0.5rem 1rem;
        margin: 0 auto;

        &.Active {
          color: $base-green;
          background-color: transparent;
        }

        span {
          margin: 0 0 0.3rem;

          svg {
            font-size: 1.2rem;
          }
        }
      }
    }
  }

  @media #{$min-desktop} {
    display: none;
  }
}
