@import "../../assets/css/variables.scss";

.AccountsList {
  display: block;

  @media #{$min-desktop} {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

.Account {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  max-width: 275px;
  height: 9rem;
  padding: 15px;
  width: 100%;
  color: #fff;
  border-radius: 1rem;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  transition: 350ms ease-in-out;

  &:hover,
  &:focus {
    transform: scale(1.02);
  }

  img {
    min-width: 1.9rem;
    max-width: 2rem;
    position: absolute;
    bottom: 20px;
    right: 20px;
  }

  @media #{$min-desktop} {
    height: 8.5rem;
    max-width: 250px;
  }
}

.ButtonWrapper {
  position: absolute;
  bottom: 10px;
  right: 15px;
}

.DollarsBg {
  background-color: $base-green;
  background-image: url("../../assets/images/bg/green-bg-top.svg"), linear-gradient(to right, $dark-green, $base-green);

  &:hover,
  &:focus {
    box-shadow: 1px 3px 15px rgba($base-green, 0.5);
  }
}

.SolesBg {
  background-color: $base-blue;
  background-image: url("../../assets/images/bg/blue-bg-top.svg"), linear-gradient(to right, $dark-blue, $base-blue);

  &:hover,
  &:focus {
    box-shadow: 1px 3px 15px rgba($base-blue, 0.5);
  }
}

.Currency {
  position: absolute;
  top: 17px;
  right: 17px;
  font-size: 1.3rem;
  font-weight: bold;

  @media #{$min-desktop} {
    font-size: 1.15rem;
  }
}
