@import "../../../assets//css/variables.scss";

.CustomButton {
  width: 100%;
  max-width: 380px;
  min-height: 53px;
  border-radius: 10px;
  background-color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px 7px 3px 0;
  cursor: pointer;
  transition: 250ms ease-out;
  border: 2px solid #eee;

  &:hover,
  &:focus {
    box-shadow: 2px 5px 12px rgba(0, 0, 0, 0.05);
  }

  img {
    display: block;
    margin-right: 15px;
    max-width: 25px;
  }

  span {
    color: $base-green;
    margin-left: auto;
    font-size: 1.2rem;
    font-weight: bold;
  }
}

.Active {
  background-color: $base-green;

  h4,
  span,
  p,
  svg {
    color: #fff !important;
  }

  &:hover,
  &:focus {
    background-color: $base-green;
  }
}
